doctype html
include includes/navigation.pug

h1 #[u Tetra's ELA blog]
.desc #[h4 Yes, it's simple, but it can also load on Windows 95 with Netscape Navigator]
|
|
p This is the blog for ela that we have to do, done in minimalist style, and also written in pug
|
|
include includes/footer.pug