doctype html
include ../includes/navigation.pug
h1 A list of all of the tech-related pages on this site

.postlist
    .postindex
        h1 #[u #[a(href=`${homedir}/Posts/server.html`) My server]]
        p How I set up my server, & what I use it for
    .postindex
        h1 #[u #[a(href=`${homedir}/Posts/thinkpad.html`) My Thinkpad T420]]
        p Why I got my Thinkpad & what I use it for.
    .postindex
        h1 #[u #[a(href=`${homedir}/Posts/dwm.html`) DWM]]
        p Why I use DWM, and why you should try it out too.