doctype html
include ../includes/navigation.pug

h1 #[u The Cliff]

.desc That one time that I got stuck on a cliff

Vance (Tetra) Green
|
|
p
    | ELA Period 1
    br
    | Pousson
    br
    | 9 September 2022
|
|
p. 
    The date was...idk some time in late 2020.
    br
    I was 13.
    br
    I was at Perdinalis falls.
    br
    I saw a cliff, it was around 30 feet tall.
    br
    "Finally", I thought to myself, "A worthy challenge".
    br
    I made it to the top easily enough, but then it came time to climb back down, and I realized that I had made a terrible mistake.
    br
    I had just climbed up a vertical cliff, but as anyone who has climbed before knows, going up is a lot easier than coming down.
    br
    As I stood there, on the ledge, staring down at a drop that seemed to get further by the moment, my dad came over and tried to help me down.
    br
    My dad is tall, but not 30 feet tall, so what did we do?
    br
    We recruited another dad!
    br
    With their combined height...They still weren't anywhere near me.
    br
    "So, it has come to this," I thought, "I must actually try to climb down on my own".
    br
    And so I started my decent.
    br
    It was pretty tough, and I had to go through a couple thorn bushes, but I ended up just above their heads.
    br
    Now, why didn't I go lower?
    br
    The cliff face dropped away right below that, and a 6 foot drop is anything but comfortable.
    br
    We then struggled for a while, until finally they managed to get me down.
    br
    I learned absolutely nothing from this, and got stuck in a tree about an hour later.
include ../includes/footer.pug
