doctype html
include ../includes/navigation.pug
h1 Grade-level writing prompts 
.desc The stuff that I'm forced to do
.postlist
    .postindex
        h1 #[u #[a(href='the-cliff') The Cliff]]
        p That one time that I got stuck on a cliff
include ../includes/footer.pug